/* Fonts */
:root {
  --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --heading-font: "Nunito", sans-serif;
  --nav-font: "Inter", sans-serif;
}

/* colors */
:root {
  --background-color: #ffffff;
  --default-color: #212529;
  --heading-color: #2d465e;
  --accent-color: #0d83fd;
  --surface-color: #ffffff;
  --contrast-color: #ffffff;
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
  --nav-color: #212529;
  --nav-hover-color: #0d83fd;
  --nav-mobile-background-color: #ffffff;
  --nav-dropdown-background-color: #ffffff;
  --nav-dropdown-color: #212529;
  --nav-dropdown-hover-color: #0d83fd;
}

.light-background {
  --background-color: #f3f9ff;
  --surface-color: #ffffff;
}

.dark-background {
  --background-color: #0d83fd;
  --default-color: #ffffff;
  --heading-color: #ffffff;
  --surface-color: #409dfd;
  --contrast-color: #ffffff;
}

/* Smooth scroll */
:root {
  scroll-behavior: smooth;
}

/* tags  */

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--default-font);
}

.button {
  border: none;
  color: var(--contrast-color);
  background: var(--accent-color);
  font-size: 14px;
  padding: 8px 20px;
  border-radius: 50px;
  transition: 0.3s;
  font-weight: 500;
}

.button:hover {
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
}

a {
  color: var(--default-color);
  text-decoration: none;
}

a:hover {
  color: var(--accent-color);
  text-decoration: none !important;
}

section {
  min-height: 600px;
}

ul {
  list-style: none;
}

p {
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

/* class */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.flex-flow-column {
  flex-flow: column;
}

.row {
  width: 100%;
}